.item {
    align-items: center;
    color: var(--dark-blue);
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
}

.item__input {
    display: none;

}

.item__label {
    align-items: center;
    display: flex;
    gap: .5rem;
    margin-left: 1rem;
}

.item__input:checked + .item__label {
    cursor: pointer;
    text-decoration: line-through;
}

.item__check {
    border-radius: 4px;
    border: 1px solid var(--blue);
    display: inline-block;
    height: 16px;
    width: 16px;
}

.item__input:checked + .item__label .item__check {
    background-color: var(--blue);
}

.item__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;
    outline: 0;
}

.item:hover .item__button {
    opacity: 1;
}

.item__button-image {
    height: auto;
    width: 25px;
}
